<header>
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a  class="flex items-center">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Book Store</span>
            </a>
            <div class="flex items-center lg:order-2">
                <a href="https://www.facebook.com/" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                    Facebook
                </a>
                <a href="/login" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Log out</a>
            </div>
            <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
            </div>
        </div>
    </nav>
</header>
<ul>
    <li *ngFor="let book of books">
        <a routerLink="/bookpage/{{book.id}}">
            <img [src]="book.image" [alt]="book.name">
            <div class="content">
                <div class="name">
                    {{book.name}}
                </div>
                <div class="name" style="color: black;">
                    Author:{{book.author}}
                </div>
                <div class="price">
                    <span>
                      {{book.price | currency}}
                    </span>
                </div>
            </div>

        </a>
    </li>
</ul>